@use './constants';

@keyframes appear {
  from {
    right: 1000px;
  }

  to {
    right: 0;
  }
}

@keyframes deleteItem {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.container {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.playercounter {
  color: constants.$color-darkwhite;
}

ul {
  list-style: none;
  width: 100%;
}

li {
  position: relative;
  background-color: constants.$color-lightblue;
  color: white;
  width: 100%;
  margin: 0.5em auto 0.5em 0;
  padding: 0.5em 2em;
  text-align: left;
  border-radius: 5px;
  animation: appear 1.2s ease-out;
}

.btnDel {
  border: none;
  border-radius: 5px;
  width: 1.5em;
  height: 1.5em;
  background-color: constants.$color-red;
  color: white;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  right: 10px;
}

.deletedItem {
  animation: deleteItem 1s ease-in;
}