@use './constants';
@use './master';
@use './playerform';
@use './playerlist';

.playerform {
  margin: 1em auto;
  width: 80%;
}

@mixin btnPlay {
  padding: 0.2em 0.55em;
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;

  margin-bottom: 2em;
  margin-top: auto;

  background-color: constants.$color-green;
  border: solid black 1px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.btnPlay {
  @include btnPlay;
}

.btnPlayDisabled {
  @include btnPlay;
  background-color: constants.$color-grey;

  &:hover {
    cursor: not-allowed;
  }
}